$red: #D93240;
$light: #F2F2F2;
$medium: #F2DEC4;
$dark: #928F86;
$blue: #303E4B;

@import "compass/reset";

@mixin clearfix {
  // Taken from http://css-discuss.incutio.com/wiki/Clearing_Space (Option 2)
  &:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
  }

  display: inline-block;

  /* Hides from IE5/Mac \*/
  * html & {height: 1px;}
  & {display: block;}
  /* End hide from IE5/Mac */
}

.clearfix{
	@include clearfix;
}
