@import 'sticky_footer';
@import 'base';
@import 'default';
@import 'layout';

#advice_map{
  height: 470px;
  width: 700px;
}

.country_with_advice{
  display: none;
  border: 2px solid #0000ff;
  padding: 10px;
  margin-top: 10px;
  
  .topbar{
    @include clearfix;
    .country_name{float:left;}
    .country_advice_type{float:right;}
  }
  
  &.no_travel_all{
    border: 2px solid #ff0000;
  }
}